@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.nav{
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 0px 20px;
 }
 .nav a{
  color:  #000000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  height: 20px;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
  transition: 1s ;
 }
 .nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color:	#008000;
  transition: 0.5s linear;
  
 }
 .nav a:hover:after{
  width: 100%;
}
.nav a:hover{
  color: #FF00FF;
}